@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #93b7eb;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Carlito", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.pageContainer {
  border: 1px solid black;
  width: 600px;
  border-radius: 10px;
  margin: 0 auto;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #dbe8f8;
}
.mainHeader {
  text-align: center;
}

h1 {
  font-weight: 600;
  margin-bottom: 30px;
}
.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
